* {
  box-sizing: border-box;
  padding: 40px 40px;
  margin: 0;
  max-width: 100%;
}

body {
  background-color: #000000;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.general-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 50px;
}
.oneside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #131215;
  width: 500px;
}

.image-container {
  padding: 20px;
  margin: auto;
}

.image-container img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding: 0;
}

.user-header {
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 0;
}
.user-header h2 {
  padding: 0;
}
.user-time {
  padding: 0;
  display: flex;
  gap: 5px;
  text-align: center;
  display: inline-block;
}
.user-time span {
  padding: 0;
}
.user-time i {
  padding: 0;
}
.social-links {
  display: flex;
  gap: 0px;
}

.social-links a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}

.secondside {
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.firstsub {
  background-color: #131215;
  padding: 40px;
}

.text-bio {
  font-size: 18px;
}

.secondsub {
  background-color: #131215;
  padding: 15px;
}

.list-section {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.hobbiesList {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.hobbiesList h2 {
  padding: 0;
  text-align: left;
}
.dislikeList h2 {
  padding: 0;
  text-align: left;
}
.dislikeList {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.hobbiesList li {
  background-color: lightgray;
  text-align: center;
  float: left;
  width: 230px;
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 5px;
}
.dislikeList li {
  background-color: lightgray;
  text-align: center;
  float: left;
  width: 200px;
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  * {
    padding: 5px;
  }

  .general-container {
    flex-direction: column;
    gap: 0px;
    max-width: 100%;
  }
  .user-header h2 {
    padding-top: 20px;
  }
  .bio {
    padding-top: 20px;
  }
  .user-time {
    padding-top: 20px;
  }
  .oneside {
    width: 100%;
  }
  .firstsub {
    padding: 10px;
  }
  .secondsub {
    padding: 10px;
  }

  .hobbiesList li {
    width: 120px;
    padding: 10px 5px;
  }
  .dislikeList li {
    width: 120px;
    padding: 10px 5px;
  }
  .social-links {
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
  }
}

@media (min-width: 801px) and (max-width: 1023px) {
  * {
    padding: 30px 10px;
  }
  .oneside {
    width: 700px;
  }
  .firstsub {
    padding: 10px;
  }

  .text-bio {
    font-size: 16px;
  }
  .hobbiesList li {
    width: 150px;
    padding: 10px 5px;
  }
  .dislikeList li {
    width: 150px;
    padding: 10px 5px;
  }
  .general-container {
    gap: 10px;
  }
  .social-links {
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
  }
  .image-container {
  padding: 10px;
}
.image-container img{
    width: 200px;
    height: 200px;
}
}
